# Ignorar apenas o arquivo test.txt
# /ignore/files/test.txt

# Ignorar todos os arquivos que comecem com "test" e terminem com .txt
# /ignore/files/test*.txt

# Ignorar todos os arquivos .txt em qualquer pasta
# *.txt